html{
    margin-top: -14px !important;
    height: 100%;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

      /* Menu */
header{
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.1);
}
.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}      
.logo{
    display: block;
    padding-top: 5px;
}

/* Bandeau blanc du menu */
.menu-header-container{
    background-color: white;
    height: 80px;
    
}
/* Navigation du menu */
#menu-header{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-top: 15px;
    font-family: "Space Mono";
}
a:-webkit-any-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

/* Modale contacte */
.darkbackground{
    display: none; 
    background-Color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-Index: 1;         
}
