html{
    margin-top: -16px !important;
}

.menu-header-container{
    background-color: white;
    height: 80px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.1);
}
#menu-header{
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 45px;
    margin-right: 145px;
    padding-top: 34px;
}
a:-webkit-any-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.logo{
    position: absolute;
    padding-top: 34px;
    margin-left: 146px;
}



.contactModale{
    display: none;
    position: fixed;
    background-color: white;
    top: 100px;
    left: 541px;
    z-index: 9999;
    width: 600px;
    height: 704px;
    text-align: center;
}

