.topSection{
    display: flex;
    justify-content: center;
    gap: 21px;
}
.blocMainPic{
    width: 50%;
    margin-top: 38px;
}
.mainPics{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.descriptionBlock{
    width: 50%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;

}
.descriptionPicsTitle{
    width: 420px;
    margin-bottom: 0px;
    padding-top: 525px;
    font-family: "Space Mono";
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
}
.descriptionPics{
    font-family: "Space Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    line-height: 2.5;
}

.middleSection{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
.leftMiddleSection, .rightMiddleSection{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.rightMiddleSection{
    justify-content: flex-end;
    margin-top: 8px;
}

.insterested{
    font-family: "Space Mono";
    font-size: 14px;
}
.contactButton{
    display: flex;
    width: 272px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-color: white;
    background: #D8D8D8;

    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.navPic{
    width: 81px!important;
    height: 71px!important;
}
#hoverImage {
    object-fit: cover;
}
.navBox{
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;

}
.arrows{
    display: flex;
    margin-top: 19px;
    gap: 30px;
}
.arrow{
    width: 25px;
}


.alsoLike{
    display: flex;
    justify-content: left;  
    margin-top: 77px;
    padding-left: 265px;
    margin-bottom: 52px;
    font-family: "Space Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;}

.alsoLikePics{
    display: flex;
    justify-content: center;
    gap: 20px;   
    margin-bottom: 110px;
}
.alsoLikePic{
    width: 564px;
    height: 495px;
    object-fit: cover;
}