.topSection{
    display: flex;
}
.mainPics{
    padding-top: 38px;
    margin-left: 141px;
    width: 563px;
    height: 844px;
    object-fit: cover;
}
.descriptionPicsTitle{
    width: 300px;
    margin-bottom: 0px;
    padding-top: 525px;
    margin-left: 145px;
    font-family: "Space Mono";
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px; /* 87.879% */
    text-transform: uppercase;
}
.descriptionPics{
    margin-left: 145px;
    font-family: "Space Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.separatorDetailContact{
    position: absolute;
    width: 564px;
    margin-left: 144px;
    top: 990px;
}
.middleSection{
    display: flex;
    align-items: center;
    padding-top: 48px;
}
.insterested{
    display: flex;
    width: 197px;
    margin-left: 144px;
   
}
.contactButton{
    display: flex;
    width: 272px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 96px;

    border-radius: 2px;
    border-color: white;
    background: #D8D8D8;

    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.navPic{
    margin-top: -8px;
    margin-left: 502px;
    width: 81px!important;
    height: 71px!important;
}

.navBox{
    display: flex;
    flex-direction: column;
}

.arrows{
    display: flex;
    margin-top: 20px;
    gap: 30px;
    margin-left: 502px;
}

.arrow{
    width: 25px;
}
.separatorContact{
    margin-top: 20px;
    width: 1148px;
    margin-left: 144px;
}

.alsoLike{
    margin-top: 77px;
    margin-left: 144px;
    font-family: "Space Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;}

.alsoLikePics{
    display: flex;
    margin-left: 144px;
    gap: 20px;
}
.alsoLikePic{
    width: 564px;
    height: 495px;
    object-fit: cover;
}
